.Categories,
.Difficulty {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.Categories {
  margin-right: 20px;
}

.Dropdown{
    display: flex;
    justify-content: center;
}