.Footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}   

button {
    background-color: orange;
    color: white;
    font-size: 25px;
    padding: 14px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
}