@media only screen and (max-width: 999px) {
    .Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
      }

      .footer-button {
        background-color: orange;
        color: rgb(0, 0, 0);
        font-size: 16px;
        padding: 7px 20px;
        margin: 10px;
        border: none;
        border-radius: 9px;
      }

      .Modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        border-radius: 10px;
        text-align: center;
        height: 50vh;
        width: 90%;
        max-width: 400px;
        font-size: 24px;
      }

      .close {
        margin: 0;
        position: absolute;
        opacity: 1;
        z-index: 10;
        cursor: pointer;
        top: 10px; 
        right: 15px; 
      }



    }

    @media only screen and (min-width: 1000px){
        .Footer{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            width: 100%;
        }   

        .footer-button {
            background-color: orange;
            color: rgb(0, 0, 0);
            font-size: 20px;
            padding: 7px 20px;
            margin: 20px;
            border: none;
            border-radius: 9px;
        }

        .Modal {
            position: fixed;
            top: 50%;
            left: 50%;

            background-color: white;
            border-radius: 10px;
            text-align: center;
            height: 50vh;
            font-size: 30px;
          }

          .close {
            margin: 0;
            position: absolute;
            opacity: 1;
            z-index: 10;
            cursor: pointer;
            top: 10px; 
            right: 15px; 
            }


    }
    
   
