.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: ; */
    /* height: 100vh; */
  }
  
  .Header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
  }
  
  .Header h1 {
    font-size: 3rem;
    margin: 0;
    color: orange;
    
  }
  
  .Header p {
    font-size: 1.5rem;
    margin: 0;
    color: orange
  }
  
  /* .Header footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 38rem;
  }
  
  .Header footer p {
    font-size: 1.2rem;
    margin: 0px;
    
  } */

.Title {
  font-family: Bungee Shade;
}