.QuestionCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 40px;
    text-align: center;
  }
  h2 {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
  }
  p{
    font-size: 24px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* li {
    margin: 20px;
  } */
  label {
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding: 20px;
    position: relative;
    transition: background-color 0.2s ease;
  }
  input[type="radio"] {
    margin: 10px;
    width: auto;
  }
  span {
    background-color: #F2F2F2;
    border-radius: 10px;
    display: block;
    padding: 20px;
    transition: background-color 0.2s ease;
  }
  input[type="radio"]:checked + span {
    background-color: #7FC6A4;
    color: #fff;
  }

  button:hover {
    background-color: #CF6098;
  }