.RegisterUser {
    display: flex;
    justify-content: center;
    padding-top: 130px
}

input {
    font-size: 20px;
    padding: 9px;
    border-radius: 6px;
    width: 300px;
}

.RegisterUser button {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 7px 20px;
    margin: 20px;
    border: none;
    border-radius: 9px;
}