@media only screen and (max-width: 999px){
    .ScoreCard {
        background-color: white;
        border-radius: 10px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        max-width: 90%;
        max-height: 80vh;
    }
    
    .ScoreCard h5 {
        margin-top: 10px;
        font-size: 1.2em;
    }
    
    .ScoreCard p {
        font-style: italic;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 1000px){
    .ScoreCard {
        background-color: white;
        border-radius: 10px;
        margin: 20px auto;
        padding: 40px;
        text-align: center;
        max-width: 50%;
        max-height: 80vh;
        }
        
        .ScoreCard h5 {
            margin-top: 20px;
        }
        
        .ScoreCard p {
            font-style: italic;
        }
}